.nav {
  width: 100%;
  background-color: #386fa4;
  height: 4em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  font-size: 18px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: flex;
  align-items: center;
}

.btn {
  height: 100%;
  padding: 0 25px 0 25px;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #3f7db8;
}

.navBlock {
  display: flex;
  height: 100%;
}

.spacer {
  width: 22em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 70%;
  border-radius: 5px;
  z-index: 0;
  font-size: 22px;
  font-weight: bold;
}

.correct {
  background-color: rgb(47, 180, 47);
  animation-duration: 0.2s;
  animation-name: correct;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wrong {
  background-color: rgb(201, 30, 30);
  animation-duration: 0.5s;
  animation-name: wrong;
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: linear; */
}

@keyframes correct {
  from {
    margin-top: 2%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes wrong {
  from {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    height: 8em;
  }
}
